/target
/dyer-macros/target/
/dyer-macros/Cargo.lock
*.vim
*.lock
*/*.lock
*/*/*.lock
*.dyertrace
*/*.dyertrace
*/*/*.dyertrace
data/
log/
src/.* 
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp
*.json
*/*.json
ideals.md
notes.md
